{% extends 'gatewayapp/base.html' %}
{% block content %}
<div class="well">
	<form action="/tests/{{data.test_id}}/questions/{{data.id}}/" method="post" id="form{{forloop.counter}}">
	{% csrf_token %}
	<br>
	{{data.question_text}}<br>
	{% if data.is_true == True %}
		<font color="green">Верно</font>
	{% elif data.is_true == False%}
		<font color="red">Неверно</font>
	{% endif%}
	<br>
	{% for c in data.simple_choices %}
	    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ c.id }}" />
	    <label for="choice{{ forloop.counter }}">{{ c.text }}</label><br />
	{% endfor %}
	<input class="btn btn-secondary" type="submit" value="Confirm!" />
	</form>
</div>	
{% endblock %}